body {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  margin: 0;
}
.divBody {
  background-color: papayawhip;
}
header {
  order: 0;
  background-color: rgb(221, 255, 213);
  display: flex;
  justify-content: center;
}
header h1 {
  margin: 0px;
  font-size: 50px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: stretch;
}
nav ul li {
  border: solid black 5px;
  list-style: none;
  flex-grow: 1;
  margin: 0;
  display: flex;
  justify-content: center;
  justify-items: stretch;
}
nav ul li a {
  margin: 20px;
  font-size: 20px;
  background-color: black;
  color: white;
}
#opc1 {
  background-image: url("https://images.pexels.com/photos/5709009/pexels-photo-5709009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}
#opc2 {
  background-image: url("https://images.pexels.com/photos/1029604/pexels-photo-1029604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}
#opc3 {
  background-image: url("https://images.pexels.com/photos/2441454/pexels-photo-2441454.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

.contenidoGral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.contenidoGral .articulos {
  margin: 0;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}
#art1 {
  background-color: white;
  border: solid black 2px;
  display: flex;
  height: 300px;
  flex-direction: column;
  
}
#vacio {
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.tabla1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.fila1 {
  margin: 0;
  flex-grow: 0.2;
  gap: 3px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  font-size: small;
  
}
#noFila {
  margin: 0;
  font-size: small;
}
.fila2 {
  margin: 0;
  flex-grow: 10;
  gap: 3px;
  display: flex;
  justify-content: center;
  
}
.elemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
  border-radius: 7px;
  flex-basis: 200px;
}
.elemento h2,
.elemento p {
  margin: 0;
}
#H {
  background-color: white;
}
#He, #Ne, #Ar
{
  background-color: rgb(139, 114, 190);
}
#Li, #Na
{
    background-color: salmon;
}
#Be, #Mg
{
    background-color: rgb(255, 172, 136);
}
#B, #Si
{
    background-color: rgb(123, 182, 97);
}
#C , #N, #O, #P, #S
{
    background-color: cadetblue;
}
#F, #Cl
{
    background-color: aqua;
}
#Al
{
    background-color: yellow;
}

#art2 {
  background-color: black;
  color: white;
  border: solid black 2px;
  height: 200px;
}
#art2 p {
  margin: 0;
}

aside {
  background-image: url("https://images.pexels.com/photos/1828875/pexels-photo-1828875.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
aside ul {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: 200%;
}
aside ul li {
  list-style: none;
}
aside ul li a {
  background-color: black;
  color: white;
}

footer {
  background-color: rgb(221, 255, 213);
  margin: 0;
  border-top: solid black 2px;
}
